{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "standard"
  ],
  "globals": {
    "window": true,
    "document": true
  },
  "parserOptions": {},
  "plugins": [],
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ],
    "prefer-const": "error",
    "max-len": [
      "error",
      {
        "code": 160
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "info",
          "warn",
          "error"
        ]
      }
    ],
    "import/newline-after-import": "error",
    "import/no-unresolved": "error"
  }
}
